[submodule "Contrib/sqlite-net"]
	path = Contrib/sqlite-net
	url = https://github.com/praeclarum/sqlite-net.git
[submodule "Contrib/XPlatUtils"]
	path = Contrib/XPlatUtils
	url = https://github.com/jonathanpeppers/XPlatUtils.git
