bin
gen
obj
out
/Components
TestResults
test-results
.metadata
*.class
*.settings
local.properties
*.userprefs
.DS_Store
*.user
*.suo
.fake
.ci/**/*.exe
packages
Resource.designer.cs
node_modules
.bitrise*
.*yml
.bitrise*
TestResult.xml
