<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.toggl.timer.today</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.toggl.Emma</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPrincipalClass</key>
		<string>WidgetViewController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widget-extension</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Toggl Timer</string>
	<key>CFBundleShortVersionString</key>
	<string>7.0.23</string>
	<key>CFBundleVersion</key>
	<string>18</string>
</dict>
</plist>
