<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid43" />
  <package id="Toggl.Bugsnag" version="1.0.1" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="21.0.3.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="21.0.3.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="21.0.3.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.GooglePlayServices" version="22.0.0.2" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Insights" version="1.9.1.107" targetFramework="MonoAndroid43" />
  <package id="XamGuard" version="1.0.3" targetFramework="MonoAndroid43" />
</packages>