<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="MonoAndroid43" />
  <package id="Toggl.Bugsnag" version="1.0.0" targetFramework="MonoAndroid43" />
  <package id="XamGuard" version="1.0.1" targetFramework="MonoAndroid43" />
</packages>