<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="25" android:versionName="7.0.6" package="com.toggl.timer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:name="com.toggl.timer.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.toggl.timer.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application>
		<activity-alias
			android:name=".App"
			android:exported="true"
			android:icon="@drawable/Icon"
			android:label="@string/EntryName"
			android:targetActivity="toggl.joey.ui.activities.MainDrawerActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<!-- Used for Google Play Store Campaign Measurement-->
		<service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />
		<receiver android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
	</application>
</manifest>