<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="xamarinios10" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="MonoAndroid403" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid403" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Insights" version="1.10.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Insights" version="1.10.6" targetFramework="net40" />
  <package id="Xamarin.Insights" version="1.10.6" targetFramework="MonoAndroid403" />
</packages>
