<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="xamarinios10" />
</packages>